@import "tailwindcss";

@theme {
    --color-sun-900: #DB6300;
    --color-sun-700: #EA880F;
    --color-sun-500: #EEAA2B;
    --color-sun-300: #ECC170;
    --color-sun-100: #FFFBF3;

    --color-gray-900: #474747;
    --color-gray-700: #666666;
    --color-gray-500: #CACACA;
    --color-gray-300: #E5E5E5;
    --color-gray-100: #E2E2E2;
}

body {
    color: var(--color-gray-900)
}

._container {
    @apply container mx-auto px-3;
}

.header-container {
    @apply container mx-auto pt-4 md:pt-8 2xl:px-[120px] px-3 flex items-center justify-between gap-3;
}

.header-logo {
    @apply flex gap-1 md:*:text-4xl *:font-bold *:text-2xl;
}

.menu-item {
    @apply *:font-bold
}

.header-button {
    @apply bg-sun-900 text-white py-3 px-12 font-bold rounded-xl 
}